html {
  font-family: Overpass, sans-serif;
  background-image: linear-gradient(#ff9500, #ff5e3a);
  background-repeat: no-repeat;
}

svg {
  color: rgba(255, 255, 255, 1);
}

h1, h2 {
  color: #fff;
}

p {
  color: #fff;
}

.btn-ghost {
  color: #fff;
}

.btn:hover {
  background-color: #fff;
  color: #ff5e3a;
}
